*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
/.idea
.idea
/.idea/encodings.xml
/.idea/vcs.xml
.idea/encodings.xml
.idea/vcs.xml
.idea/misc.xml
/.idea/misc.xml
.idea/modules.xml
/.idea/modules.xml

